colorama==0.4.5
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.34.4
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.5.2
numpy~=1.25.0
opencv-python~=4.8.0.76
openpyxl==3.0.10
packaging==21.3
pandas~=1.4.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn~=1.1.2
scipy~=1.9.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
tqdm==4.64.0
typing_extensions==4.3.0
pynverse~=0.1.4.4
scikit-image~=0.19.3
shapely~=2.0.1
hampel~=0.0.5